# Production license for @nuxt/ui-pro, get one at https://ui.nuxt.com/pro/purchase
NUXT_UI_PRO_LICENSE=
# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=




APP_ENVIRONMENT = 'development'
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

# FIREBASE_APPCHECK_DEBUG_TOKEN=********-****-****-****-************
GOOGLE_APPLICATION_CREDENTIALS=service-account.json
VUEFIRE_APPCHECK_DEBUG=true
VUEFIRE_EMULATORS=true

GOOGLE_CLOUD_API_KEY =
GOOGLE_MAPS_API_KEY =

NUXT_UI_PRO_LICENSE=

